.block-banner {
  padding-top: 80px;

  @media (max-width: 740px) {
    padding-top: 96px;
  }

  .inner-container {
    // max-width: 1032px;
    // margin: 0 auto;
    gap: 48px;
  }

  h1 {

    span {
      font-family: var(--extra-font);
      color: var(--secondary-color);
    }
  }

  .button-group {
    margin-bottom: 48px;

    @media (max-width: 740px) {
      margin-bottom: 0;
    }
  }

  h4 {
    max-width: 480px;
    margin-left: 0;
  }
}