.block-banner {
  padding-top: 80px;

  @media (max-width: 740px) {
    padding-top: 96px;
  }

  .inner-container {
    // max-width: 1032px;
    // margin: 0 auto;
    gap: 48px;
  }

  .text-wrap {
    position: relative;
  }

  h1 {

    span {
      font-family: var(--extra-font);
      color: var(--secondary-color);
    }
  }

  .button-group {
    margin-bottom: 48px;

    @media (max-width: 740px) {
      margin-bottom: 0;
    }
  }

  h2 {
    max-width: 480px;
    margin-left: 0;
  }
  
  .icon-logo {
    margin-bottom: -24px;

    @media (min-width: 1241px) {
      position: absolute;
      left: 0;
      top: 0;
      margin-bottom: 0;
    }

    @media (max-width: 740px) {
      display: none;
    }

    .svg-wrap {
      margin-left: 0;
      width: 56px;

      @media (max-width: 740px) {
        width: 37px;
      }
    }
  }

  .floating-wrap {
    position: absolute;
    top: 10%;
    right: 0;
    z-index: -1;
    margin: 0;
    width: 480px;
    height: 480px;
    border-radius: 240px;

    @media (min-width: 1241px) {
      top: 0;
      right: 0;
    }

    @media (max-width: 740px) {
      top: -5%;
      right: -5%;
      width: 320px;
      height: 320px;
      border-radius: 160px;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 240px;;
    }
    
    &:before {
      width: 450px;
      height: 450px;
      background: rgb(255,123,202);
      background: linear-gradient(180deg, rgba(255,123,202,1) 0%, rgba(255,197,111,0.46) 100%);
      filter: blur(80px);
      z-index: 2;

      @media (max-width: 740px) {
        width: 300px;
        height: 300px;
      }
    }

    &:after {
      width: 330px;
      height: 330px;
      background: rgb(242,47,176);
      background: linear-gradient(180deg, rgba(242,47,176,1) 0%, rgba(245,138,37,0) 100%, rgba(112,97,163,1) 100%);
      filter: blur(80px);
      z-index: 1;

      @media (max-width: 740px) {
        width: 220px;
        height: 220px;
      }
    }
  }
}
