.block-intro {
  margin-bottom: 48px;

  .image-wrap {

    img {
      width: 100%;
      border-radius: 24px;
    }
  }

  .inner-container {

    .inner-container > * {
      max-width: 678px;
      margin-right: 0;
    }
  }

  a:not(.button):not(.link) {
    color: var(--header-color);
    text-decoration: underline;
  }

  .floating {
    position: absolute;
    bottom: -20%;
    left: -500px;
    max-width: initial;
    width: auto;
    z-index: -1;
    transition: all 0.3s;

    @media (min-width: 1241px) {
      bottom: -20%;
      left: -320px;
    }

    @media (max-width: 740px) {
      display: none;
    }
  }
}