.homepage header {
  position: relative;
  margin-bottom: -78px;
  z-index: 1000;

  + main .banner .text-content {
    padding-top: 78px;

    .floating-image {
      margin-top: 39px;

      @media (max-width: 640px) {
        margin-top: 0;
      }
    }
  }
}

.sticky #page > header {

  @media (min-width: 741px) {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

#page > header {

  .scrolled & {
    background: var(--header-background);
    border-bottom-color: var(--border-color);
  }
}

header {
  color: var(--header-color);
  transition: color 0.6s ease-out, border 0.3s ease;
  border-bottom: 1px solid transparent;

  &.light-header {
    color: #FFF;
  }

  &.dark-header {
    color: #000;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .logo {
    color: inherit;
    font-family: var(--header-font);
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    margin-right: auto;

    .desktop-icon {

      @media (max-width: 740px) {
        display: none;
      }
    }

    .mobile-icon {
      display: none;

      @media (max-width: 740px) {
        display: block;
      }
    }
  }

  .checkbox.switch input[type="checkbox"] {

    &:checked {
      background: #FFFFFF;
      border-color: #FFFFFF;

      &:hover:not([disabled]) + label {
        background: #FFFFFF;
        border-color: #FFFFFF;
      }

      & + label {
        background: #FFFFFF;
        border-color: #FFFFFF;

        &:after {
          background: #C6C8C7;
        }
      }
    }

    & + label {
      background: #171717;
      border-color: #171717;

      &:hover:not([disabled]) + label {
        background: #171717;
        border-color: #171717;
      }

      &:before {
        content: '';
      }

      &:after {
        background: #313131;
      }
    }
  }

  .navigation {
    position: fixed;
    left: 50%;
    bottom: 8px;
    transform: translateX(-50%);
    background: #101010;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.16);
    border-radius: 27px;
    padding: 8px;
    margin-right: auto;
    margin-right: auto;
    z-index: 100;

    ul {
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;

      a:not(.button):not(.link) {
        position: relative;
        display: inline-flex;
        color: #fff;
        padding: 6px 24px;
        margin: 0;
        font-size: 16px;
        line-height: 26px;
        border-radius: 19px;

        &:hover, &.active {
          background: rgba(242,242,242,0.08);

          &:before {
            opacity: 1;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: -10px;
          left: 50%;
          transform: translateX(-50%);
          width: 24px;
          height: 2px;
          background: #FD3E81;
          box-shadow: 0 2px 25px 2px #FD3E81;
          opacity: 0;
        }
      }
    }
  }

  .right {
    margin-left: auto;

    ul {
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;

      a:not(.button):not(.link) {
        position: relative;
        display: inline-flex;
        padding: 10px 16px;
        margin: 31px 0;
        font-size: 18px;
        line-height: 21px;
        text-decoration: underline;

        @media (max-width: 740px) {
          margin: 29px 0;
          font-size: 16px;
        }

        &:hover,
        &:focus {
          border-radius: 8px;
          background: var(--header-hover);
        }
      }
    }
  }
}
